.newUpdate .slick-slider-trending {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}
@media screen and (max-width: 750px) {
    .newUpdate .slick-slider-trending {
        grid-auto-columns: 200px;
      }
}

