.CollectionComment {
    margin: 10px 0;
}
.CollectionComment .profile-form {
    position: relative;
}
.CollectionComment .profile-form img{
    width: 30px;
    height: 30px;
}

.CollectionComment .profile-form h3  {
  margin: 5px 0;
  font-size: 1.1rem;
  color: rgb(217, 229, 240);
}
.CollectionComment .form-input p {
    color: #fff;
    font-size: 0.8rem;
}