header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 85px;
  z-index: 1000;
}
header .navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
header .navbar .navbar-mid .logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .navbar .navbar-left,
header .navbar .navbar-right,
header .navbar .func {
  display: flex;
  align-items: center;
}
header .navbar .logo {
  width: 150px;
  height: 100px;
}
header .navbar .logo img {
  width: 100%;
  height: 100%;
}
header .navbar .navbar-item {
  padding: 10px;
  margin: 5px 10px;
  position: relative;
  cursor: pointer;
  font-weight: 600;
}
header .navbar .button-login {
  padding: 7px 15px;
  margin: 5px 10px;
  background-color: #eb315a;
  border-radius: 5px;
}
header .navbar .search {
  border-radius: 15px;
  border: 1px solid #fff;
  margin: 5px 10px;
  position: relative;
}
header .navbar .search i {
  position: absolute;
  right: 20px;
  top: 25%;
  color: #fff;
  font-size: 16px;
}
header .navbar .search input {
  outline: none;
  border: none;
  padding: 10px 20px;
  width: 300px;
  border-radius: 50px;
  background-color: transparent;
  color: #fff;
}
::placeholder {
  color: white;
  opacity: 1;
}
header .navbar .navbar-item::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #eb315a;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.2s linear;
  transition: width none;
}
header .navbar .navbar-item a:hover {
  color: #eb315a;
  font-weight: 600;
}
header .navbar .navbar-item:hover:after {
  width: 100%;
}
.mobile {
  display: none;
}
