.homepage {

}

.section-slide {
    width: 100%;
    height: 100vh;
    position: relative;
}
.section-slide .content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #ccc;
    text-align: center;
}
.section-slide .content h1 {
    font-size: 3.3rem;
    margin-bottom: 15px;
}
.section-slide .content span {
    font-size: 1.5rem;
    font-weight: 500;
    
}
.button-r button {
    padding: 10px 25px;
    font-size: 1.2rem;
    font-weight: 500;
    outline: none;
    border: none;
    background-color: var(--colorItem);
    color: #ccc;
    margin:30px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.section-slide::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, #001e28 7%, #0000003b);
    z-index: 0;
    width: 100%;
    height: 100%;
}
.section-recommender {
    margin-bottom: 20px;
}
.section-container {
    transform: translateY(-160px);
}
.section-recommender {
    transform: translateY(-50%);
    z-index: 3;
}
.section-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}